<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments.html :: head"></head>
<body>
  <div th:replace="fragments.html :: main-nav"></div>
  <div class="container">
    <div class="post-info">
      <div class="row justify-content-center pt-5">
        <div class="col-sm-8">
          <div class="card bg-light py-0">
            <div class="card-header" id="titleHeader">
              <span class="card-text" th:text="${post.title}">게시글 제목</span>
              <a sec:authorize="isAuthenticated()" th:if="${post.authorChecked == true}">
                <span class="card-text" id="postDeleteText" th:onclick="|location.href='/realm/' + ${post.id} + '/delete'|">삭제</span>
                <span class="card-text" id="postEditText" th:onclick="|location.href='/realm/' + ${post.id} + '/edit'|">수정</span>
              </a>
            </div>
            <div class="card-body my-1 py-1" id="postInfoCardBody">
              <span class="card-text" id="postAuthor" th:text="${post.author}">작성자</span>
              <span class="card-text" id="postLikeCount" th:text="${likeCount}">좋아요 수</span>
              <span class="card-text" id="postViewCount" th:text="${post.viewCount}">조회수</span>
              <span class="card-text" id="postPublishedTime" th:text="${post.publishedDateTime}">게시일</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row px-3 justify-content-center">
      <div class="col-sm-8 pt-3">
        <div th:utext="${post.content}">게시글 내용</div>
        <br>
        <div th:replace="fragments.html :: like-button">추천 버튼</div>
        <hr style="border: solid 1px darkgray;">

        <div class="card mb-2">
          <div class="card-header bg-light">
            <i class="fa fa-comments-o" id="comment-icon"></i>
            <span class="ml-2">댓글</span>
          </div>
        </div>

        <!--/* 댓글 리스트 */-->
        <div class="cm_list"></div>
        <br>
        <br>

        <!--/* 댓글 작성 */-->
        <div class="cm_write">
          <div class="card mb-2">
            <div class="card-header bg-light">
              <i class="bi bi-pencil-square"></i>
              <span class="ml-2">댓글 쓰기</span>
            </div>
            <div class="card-body" id="writeCommentCardBody">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <fieldset>
                    <div class="cm_input">
                      <p><textarea class="form-control" id="content" name="reply_content"
                                   onkeyup="countingLength(this);" rows="3"></textarea></p>
                      <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-dark" onclick="saveComment();">작성</button>
                      </div>
                    </div>
                  </fieldset>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <hr style="border: solid 1px darkgray;">
        <div class="form-group d-flex justify-content-end">
          <div id="viewButtonToList"></div>
        </div>
      </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
  </div>
  <script th:replace="fragments.html :: like-check"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/

    var header = $("meta[name='_csrf_header']").attr('content');
    var token = $("meta[name='_csrf']").attr('content');

    window.onload = () => {
      findAllComment();
    }

    // 전체 댓글 조회
    function findAllComment() {

      const postId = [[ ${post.id} ]];
      const accountId = [[ ${account.id} ]]

      $.ajax({
        url: `/api/posts/${postId}/comments`,
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        type: 'get',
        dataType: 'json',
        async: false,
        success: function (response) {

          console.log(response);

          // 1. 조회된 데이터가 없는 경우
          if (!(response.result.data.length > 0)) {
            document.querySelector('.cm_list').innerHTML = ``;
            return false;
          }

          // 2. 렌더링 할 HTML을 저장할 변수
          let commentHtml = '';

          // 3. 댓글 HTML 추가
          response.result.data.forEach(row => {

            if (row.deleted == true) {
              commentHtml += `
                                <div class="card py-0 mt-3">
                                    <div class="card-header bg-light">
                                    </div>
                                    <div class="card-body">
                                        <span class="comment-content"><span class="card-text">삭제된 댓글입니다.</span></span>
                                    </div>
                                </div>

                                <!--/* 답글 뷰 */-->
                                <div class="row justify-content-end">
                                    <div class="col-sm-11">
                                        <div id="cm_reply_view${row.id}"></div>
                                    </div>
                                </div>
                              `;
            } else {
              commentHtml += `
                                <div class="card py-0 mt-3">
                                    <div class="card-header bg-light">
                                        <span class="comment-writer"><span class="card-text">${row.account.nickname}</span></span>
                                        <a sec:authorize="isAuthenticated()" th:if="${row.account.id == accountId}">
                                            <a class="comment-delete" onclick="deleteComment(${row.id});"><i class="bi bi-trash3"></i><span class="card-text ml-1">삭제</span></a>
                                            <a class="comment-edit" onclick="findEditComment(${row.id});"><i class="fa fa-pencil"></i><span class="card-text ml-1">수정</span></a>
                                        </a>
                                        <a class="comment-reply" onclick="findReplyComment(${row.id})"><i class="fa fa-comment fa"></i><span class="card-text ml-1">답글</span></a>
                                        <span class="date" id="commentDate">${dayjs(row.createdDateTime).format('YYYY-MM-DD HH:mm')}</span>
                                    </div>
                                    <div class="card-body">
                                        <span class="comment-content"><span class="card-text">${row.content}</span></span>
                                    </div>
                                </div>

                                <!--/* 댓글 수정 뷰 */-->
                                <div id="cm_edit_view${row.id}"></div>

                                <!--/* 댓글 답글 작성 뷰 */-->
                                <div id="cm_createReply_view${row.id}"></div>

                                <!--/* 답글 뷰 */-->
                                <div class="row justify-content-end">
                                    <div class="col-sm-11">
                                        <div id="cm_reply_view${row.id}"></div>
                                    </div>
                                </div>
                              `;
            }
          });

          // 4. class가 "cm_list"인 요소를 찾아 HTML을 렌더링
          document.querySelector('.cm_list').innerHTML = commentHtml;

          // 5. 대댓글 확인
          response.result.data.forEach(row => {
            if (row.children.length) {
              row.children.forEach(childRow => {
                findChildComment(row, childRow);
              })
            }
          });
        },
        error: function (request, status, error) {
          console.log(error)
        }
      })
    }

    // 답글 조회
    function findChildComment(parent, child) {

      var idForInnerHtml = '#cm_reply_view' + parent.id;
      const accountId = [[ ${account.id} ]];
      let commentHtml = '';

      if (child.deleted == true) {
        commentHtml += `
                                <div class="card py-0 mt-3">
                                    <div class="card-header bg-light">
                                    </div>
                                    <div class="card-body">
                                        <span class="comment-content"><span class="card-text">삭제된 댓글입니다.</span></span>
                                    </div>
                                </div>

                                <!--/* 답글 뷰 */-->
                                <div id="cm_reply_view${child.id}"></div>

                              `;
      } else {
        commentHtml += `
                                <div class="card py-0 mt-3">
                                    <div class="card-header bg-light">
                                        <span class="comment-writer"><span class="card-text">${child.account.nickname}</span></span>
                                        <a sec:authorize="isAuthenticated()" th:if="${child.account.id == accountId}">
                                            <a class="comment-delete" onclick="deleteComment(${child.id});"><i class="bi bi-trash3"></i><span class="card-text ml-1">삭제</span></a>
                                            <a class="comment-edit" onclick="findEditComment(${child.id});"><i class="fa fa-pencil"></i><span class="card-text ml-1">수정</span></a>
                                        </a>
                                        <a class="comment-reply" onclick="findReplyComment(${child.id})"><i class="fa fa-comment fa"></i><span class="card-text ml-1">답글</span></a>
                                        <span class="date" id="commentDate">${dayjs(child.createdDateTime).format('YYYY-MM-DD HH:mm')}</span>
                                    </div>
                                    <div class="card-body">
                                        <span class="comment-parent-nickname"><i class="fa fa-commenting mr-1"></i>${parent.account.nickname}</span>
                                        <br><br>
                                        <span class="comment-content"><span class="card-text">${child.content}</span></span>
                                    </div>
                                </div>

                                <!--/* 댓글 수정 뷰 */-->
                                <div id="cm_edit_view${child.id}"></div>

                                <!--/* 댓글 답글 작성 뷰 */-->
                                <div id="cm_createReply_view${child.id}"></div>

                                <!--/* 답글 뷰 */-->
                                <div id="cm_reply_view${child.id}"></div>
                              `;
      }

      document.querySelector(idForInnerHtml).innerHTML += commentHtml;

      if (child.children.length) {
        child.children.forEach(childRow => {
          findChildComment(child, childRow);
        })
      }
    }

    // 댓글 길이 카운팅
    function countingLength(content) {
      if (content.value.length > 300) {
        alert('댓글을 300자 이하로 입력해 주세요.');
        content.value = content.value.substring(0, 300);
        content.focus();
      }
    }

    // 댓글 저장
    function saveComment() {

      const content = document.getElementById('content');
      const postId = [[ ${post.id} ]];
      const accountId = [[ ${account.id} ]];
      const params = {
        content: content.value,
        postId: postId,
        accountId: accountId,
        parentId: null
      }

      $.ajax({
        url: `/api/comments`,
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        type: 'post',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        data: JSON.stringify(params),
        async: false,
        success: function (response) {
          content.value = '';
          findAllComment();

          console.log(response);
        },
        error: function (request, status, error) {
          console.log(error);
        }
      })
    }

    // 수정할 댓글 조회
    function findEditComment(commentId) {

      var idForInnerHtml = '#cm_edit_view' + commentId;

      $.ajax({
        url: `/api/comments/${commentId}`,
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        type: 'get',
        dataType: 'json',
        async: false,
        success: function (response) {

          const comment = response.result.data;
          console.log(response);

          // 1. 조회된 데이터가 없는 경우
          if (comment.length == 0) {
            return false;
          }

          // 2. 댓글 HTML 추가
          let commentHtml = `
                                <div class="card py-0 mt-3">
                                  <div class="card-header bg-light">
                                    <i class="bi bi-pencil-square"></i>
                                    <span class="ml-2">댓글 수정</span>
                                    <span class="comment-writer ml-3" id="editCommentWriter"><span class="card-text">${comment.account.nickname}</span></span>
                                  </div>
                                  <div class="card-body" id="editCommentCardBody">
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">
                                        <fieldset>
                                          <div class="cm_input">
                                            <p><textarea class="form-control" id="editContent" name="reply_content"
                                                         onkeyup="countingLength(this);" rows="3">${comment.content}</textarea></p>
                                            <div class="d-flex justify-content-end">
                                              <button type="button" class="btn btn-dark" onclick="editComment(${comment.id});">수정</button>
                                            </div>
                                          </div>
                                        </fieldset>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              `;

          // 3. id가 "'cm_edit_view' + commentId"인 요소를 찾아 HTML을 렌더링
          document.querySelector(idForInnerHtml).innerHTML = commentHtml;
        },
        error: function (request, status, error) {
          console.log(error)
        }
      })
    }

    // 댓글 수정
    function editComment(commentId) {

      const content = document.getElementById('editContent');
      const params = {
        content: content.value
      }

      $.ajax({
        url: `/api/comments/${commentId}`,
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        type: 'patch',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        data: JSON.stringify(params),
        async: false,
        success: function (response) {
          findAllComment();
          console.log(response);
        },
        error: function (request, status, error) {
          console.log(error);
        }
      })
    }

    // 답글할 댓글 조회
    function findReplyComment(commentId) {

      var idForInnerHtml = '#cm_createReply_view' + commentId;

      $.ajax({
        url: `/api/comments/${commentId}`,
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        type: 'get',
        dataType: 'json',
        async: false,
        success: function (response) {

          const comment = response.result.data;
          console.log(response);

          // 1. 조회된 데이터가 없는 경우
          if (comment.length == 0) {
            return false;
          }

          // 2. 댓글 HTML 추가
          let commentHtml = `
                                <div class="card py-0 mt-3">
                                  <div class="card-header bg-light">
                                    <i class="bi bi-pencil-square"></i>
                                    <span class="ml-2">답글 작성</span>
                                    <span class="comment-writer ml-3" id="replyCommentWriter"><span class="card-text">${comment.account.nickname}</span></span>
                                  </div>
                                  <div class="card-body" id="replyCommentCardBody">
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">
                                        <fieldset>
                                          <div class="cm_input">
                                            <p><textarea class="form-control" id="replyContent" name="reply_content"
                                                         onkeyup="countingLength(this);" rows="3"></textarea></p>
                                            <div class="d-flex justify-content-end">
                                              <button type="button" class="btn btn-dark" onclick="replyComment(${comment.id});">작성</button>
                                            </div>
                                          </div>
                                        </fieldset>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              `;

          // 3. id가 "'cm_createReply_view' + commentId"인 요소를 찾아 HTML을 렌더링
          document.querySelector(idForInnerHtml).innerHTML = commentHtml;
        },
        error: function (request, status, error) {
          console.log(error)
        }
      })
    }

    // 답글 저장
    function replyComment(commentId) {

      const content = document.getElementById('replyContent');
      const postId = [[ ${post.id} ]];
      const accountId = [[ ${account.id} ]];
      const params = {
        content: content.value,
        postId: postId,
        accountId: accountId,
        parentId: commentId
      }

      $.ajax({
        url: `/api/comments`,
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        type: 'post',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        data: JSON.stringify(params),
        async: false,
        success: function (response) {
          findAllComment();
          console.log(response);
        },
        error: function (request, status, error) {
          console.log(error);
        }
      })
    }

    // 댓글 삭제
    function deleteComment(id) {

      if (!confirm('선택하신 댓글을 삭제할까요?') ) {
        return false;
      }

      $.ajax({
        url : `/api/comments/${id}`,
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        type : 'delete',
        dataType : 'json',
        async : false,
        success : function (response) {
          alert('삭제되었습니다.');
          console.log(response);
          findAllComment();
        },
        error : function (request, status, error) {
          console.log(error)
        }
      })
    }

    /*]]>*/
  </script>
</body>
</html>