<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
  <div th:replace="fragments.html :: main-nav"></div>
  <div class="container">
    <div th:replace="fragments.html :: post-info">게시글 제목</div>
    <div class="row px-3 justify-content-center">
      <div class="col-sm-8 pt-3">
        <div th:utext="${post.content}">게시글 내용</div>
        <hr style="border: solid 1px darkgray;">
        <div class="form-group d-flex justify-content-end">
          <button class="btn btn-secondary" type="submit" onclick="location.href='/announcement'">목록으로</button>
        </div>
      </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
  </div>
</body>
</html>