<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="fragments.html :: head"></head>
<body>
    <div th:replace="fragments.html :: main-nav"></div>
    <div class="row px-4 mt-4 justify-content-center">
        <div class="col-sm-8">
            <h2>기억전장</h2>
        </div>
    </div>

    <div class="row px-5 mt-4 justify-content-center">
        <nav class="col-sm-8 nav nav-tabs">
            <a class="nav-item nav-link" href="#" th:classappend="${category == null}? active" th:href="@{/arena}">전체</a>
            <a class="nav-item nav-link" href="#" th:classappend="${category == '초급'}? active" th:href="@{/arena(category='초급')}">
                <input type="hidden" th:name="category" th:value="초급"/>
                초급
            </a>
            <a class="nav-item nav-link" href="#" th:classappend="${category == '중급'}? active" th:href="@{/arena(category='중급')}">
                <input type="hidden" th:name="category" th:value="중급"/>
                중급
            </a>
            <a class="nav-item nav-link" href="#" th:classappend="${category == '고급'}? active" th:href="@{/arena(category='고급')}">
                <input type="hidden" th:name="category" th:value="고급"/>
                고급
            </a>
            <a class="nav-item nav-link" href="#" th:classappend="${category == '종급'}? active" th:href="@{/arena(category='종급')}">
                <input type="hidden" th:name="category" th:value="종급"/>
                종급
            </a>
        </nav>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div layout:fragment="content" class="content">
                <nav class="container">
                    <br>
                    <form>
                        <table class="table table-hover">
                            <colgroup>
                                <col style="width: 6%" />
                                <col style="width: 50%" />
                                <col style="width: 12%" />
                                <col style="width: 10%" />
                                <col style="width: 8%" />
                                <col style="width: 6%" />
                            </colgroup>
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>조회수</th>
                                <th>추천</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="list, index : ${list}">
                                <td id="postNumOnBoard" th:text="${totalCount - (size * number) - index.index}">번호</td>
                                <td id="postTitleOnBoard">
                                    <label class="badge badge-dark mr-1">
                                        <span id="titleCategory" th:text="${list.postCategory}">글 카테고리</span>
                                    </label>
                                    <span th:onclick="|location.href='/arena/' + ${list.id}|">
                                        <span id="titleText" th:text="${list.title}">제목</span>
                                        <span class="commentsCount ml-1" th:text="'[' + ${list.commentCount} + ']'">댓글 수</span>
                                    </span>
                                </td>
                                <td id="postAuthorOnBoard" th:text="${list.author}">작성자</td>
                                <td id="postPublishedOnBoard" th:text="${#temporals.format(list.publishedDateTime, 'yyyy-MM-dd')}">작성일</td>
                                <td id="postViewOnBoard" th:text="${list.viewCount}">조회수</td>
                                <td id="postLikeOnBoard" th:text="${list.likeCount}">추천</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr style="border: solid 1px rgb(196, 196, 196);">

                        <div class="d-flex justify-content-end">
                            <a href="/arena/write" class="btn btn-primary">글쓰기</a>
                        </div>

                        <br>
                        <div class="row justify-content-center">
                            <input type="hidden" th:name="category" th:value="${category}">
                            <select class="form-control col-sm-1" id="dataList" name="searchType" th:value="${searchType}">
                                <option value="all">전체</option>
                                <option value="title">제목</option>
                                <option value="content">내용</option>
                                <option value="title_content">제목+내용</option>
                                <option value="nickname">글쓴이</option>
                            </select>
                            <div class="input-group col-sm-4">
                                <input type="text" name="searchKeyword" th:value="${searchKeyword}" class="form-control" id="searchPostForm">
                                <button type="submit" class="btn btn-secondary" id="searchPostFormButton">검색</button>
                            </div>
                        </div>
                        <br>
                        <nav class="container d-flex align-items-center justify-content-center" aria-label="Page navigation"
                             th:with="start=${(list.number/maxPage)*maxPage + 1},
                             end=(${(list.totalPages == 0) ? 1 : (start + (maxPage - 1) < list.totalPages ? start + (maxPage - 1) : list.totalPages)})">
                            <ul class="pagination">

                                <li th:if="${start > 1}" class="page-item">
                                    <a th:if="${category != null && searchKeyword != null} " th:href="@{/arena(page=0, category=${category}, searchType=${searchType}, searchKeyword=${searchKeyword})}" class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                    <a th:if="${category != null && searchKeyword == null}" th:href="@{/arena(page=0, category=${category})}" class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                    <a th:if="${category == null && searchKeyword != null}" th:href="@{/arena(page=0, searchType=${searchType}, searchKeyword=${searchKeyword})}" class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                    <a th:if="${category == null && searchKeyword == null}" th:href="@{/arena(page=0)}" class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>

                                <li th:if="${start > 1}" class="page-item">
                                    <a th:if="${category != null && searchKeyword != null}" th:href="@{/arena(page=${start - maxPage - 1}, category=${category}, searchType=${searchType}, searchKeyword=${searchKeyword})}" class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                    <a th:if="${category != null && searchKeyword == null}" th:href="@{/arena(page=${start - maxPage - 1}, category=${category})}" class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                    <a th:if="${category == null && searchKeyword != null}" th:href="@{/arena(page=${start - maxPage - 1}, searchType=${searchType}, searchKeyword=${searchKeyword})}" class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                    <a th:if="${category == null && searchKeyword == null}" th:href="@{/arena(page=${start - maxPage - 1})}" class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <li th:each="page: ${#numbers.sequence(start, end)}" class="page-item" th:classappend="${list.number+1 == page} ? active">
                                    <a th:if="${category != null && searchKeyword != null}" th:href="@{/arena(page=${page - 1}, category=${category}, searchType=${searchType}, searchKeyword=${searchKeyword})}" th:text="${page}" class="page-link" href="#">1</a>
                                    <a th:if="${category != null && searchKeyword == null}" th:href="@{/arena(page=${page - 1}, category=${category})}" th:text="${page}" class="page-link" href="#">1</a>
                                    <a th:if="${category == null && searchKeyword != null}" th:href="@{/arena(page=${page - 1}, searchType=${searchType}, searchKeyword=${searchKeyword})}" th:text="${page}" class="page-link" href="#">1</a>
                                    <a th:if="${category == null && searchKeyword == null}" th:href="@{/arena(page=${page - 1})}" th:text="${page}" class="page-link" href="#">1</a>
                                </li>

                                <li th:if="${end < list.totalPages}" class="page-item">
                                    <a th:if="${category != null && searchKeyword != null}" th:href="@{/arena(page=${start + maxPage - 1}, category=${category}, searchType=${searchType}, searchKeyword=${searchKeyword})}" class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                    <a th:if="${category != null && searchKeyword == null}" th:href="@{/arena(page=${start + maxPage - 1}, category=${category})}" class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                    <a th:if="${category == null && searchKeyword != null}" th:href="@{/arena(page=${start + maxPage - 1}, searchType=${searchType}, searchKeyword=${searchKeyword})}" class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                    <a th:if="${category == null && searchKeyword == null}" th:href="@{/arena(page=${start + maxPage - 1})}" class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>

                                <li th:if="${end < list.totalPages}" class="page-item">
                                    <a th:if="${category != null && searchKeyword != null}" th:href="@{/arena(page=${totalPages - 1}, category=${category}, searchType=${searchType}, searchKeyword=${searchKeyword})}" class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                    <a th:if="${category != null && searchKeyword == null}" th:href="@{/arena(page=${totalPages - 1}, category=${category})}" class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                    <a th:if="${category == null && searchKeyword != null}" th:href="@{/arena(page=${totalPages - 1}, searchType=${searchType}, searchKeyword=${searchKeyword})}" class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                    <a th:if="${category == null && searchKeyword == null}" th:href="@{/arena(page=${totalPages - 1})}" class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </form>
                </nav>
            </div>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</body>
</html>