<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
  <div th:replace="fragments.html :: main-nav"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-2">
        <svg th:if="${#strings.isEmpty(accountToView.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
             th:data-jdenticon-value="${accountToView.nickname}" width="125" height="125"></svg>
        <img th:if="${!#strings.isEmpty(accountToView.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
             th:src="${accountToView.profileImage}" width="125" height="125"/>
      </div>

      <div class="col-8">
        <h1 class="display-4 " th:text="${accountToView.nickname}">userNickname</h1>
        <p class="lead" th:if="${!#strings.isEmpty(accountToView.introduction)}" th:text="${accountToView.introduction}">introduction</p>
        <p class="lead" th:if="${#strings.isEmpty(accountToView.introduction) && isOwner}">
          소개문을 추가하세요.
        </p>
      </div>
    </div>

    <div class="row mt-5 justify-content-center">
      <div class="col-2">
        <div th:replace="fragments.html :: account-menu(currentMenu='profile')"></div>
      </div>
      <div class="col-8">
        <p th:if="${isOwner || account.emailVerified}">
              <span th:if="${isOwner && !account.emailVerified}" class="col-9">
                <a href="#" th:href="@{'/check-email?email=' + ${account.email}}">가입을 완료하려면 이메일을 확인하세요.</a>
              </span>
        </p>
        <div th:if="${isOwner}">
          <a class="btn btn-outline-primary" href="#" th:href="@{/settings/profile}">프로필 수정</a>
        </div>
      </div>
    </div>

  </div>
  <div th:replace="fragments.html :: footer"></div>
</body>
</html>